# Noted

arti dari axis di pandas:

# Axis 0 > arah vertikal > artinya baris(row) > proses per kolom 

# Axis 1 > arah Horizontal > artinnya baris(column) > proses per baris

level 2:
bagian 3

handling missing data di pandas

1. mendeteksi nilai kosong (missing value)
df.isnull()     # cek mana yang null (true/False)
df.notnull()    # lawannya, mana yang tidak null

In [ ]:
import pandas as pd

data = {
    "nama": ["Ari", "Budi", "Cici", "Dina"],
    "umur": [25, None, 22, 30],
    "kota": ["Jakarta", "Bandung", None, "Surabaya"]
}

df = pd.DataFrame(data)
print(df.isnull())

# menghitung yang mengandung missing value
print(df.isnull().sum())

In [ ]:
# menghapus nilai kosong .dropna()
# tujuan: menghapus barus atau kolom yang mengandung Nan (kosong)

import pandas as pd

data = {
    "nama" : ["ari", "budi", "cici", "dina"],
    "umur" : [25, None, 22, 30],
    "kota" : ["jakarta", "bandung", None, "surabaya"]
}

df = pd.DataFrame(data)
df_baru = df.dropna() # hapus baris yang mengandung NaN

df_kolom = df.dropna(axis=1) # hapus kolom yang mengandung NaN
print(df_kolom)

   nama
0   ari
1  budi
2  cici
3  dina

In [ ]:
# fungsi .dropna() tidak mengubah DataFrame asli kecuali kamu tambahkan inplace=True

df.dropna(inplace=True)  # Hapus langsung di df